@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Roboto:wght@500&family=Sacramento&family=Sono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.container {
  width: 100%;
}
.topcontainer {
  width: 100%;
}
.innercontainer {
  width: 100%;
  margin: auto;
  padding-left: 8rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.navy {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
  position: relative;
}
.navy li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 3rem;
  padding-top: 2rem;
  cursor: pointer;
}
.navy li:hover {
  font-size: 18px;
}
.hero {
  width: 100%;
  margin: auto;
  display: flex;
  /* justify-content: space-evenly; */
}
.text {
  margin-top: 10rem;
  width: 50%;
}
.text h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #292323;
  padding-bottom: 1rem;
  width: 90%;
}
.text p {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
  padding-bottom: 1rem;
  width: 80%;
}
.firstbtn {
  /* justify-content: center;
  align-items: center; */
  /* padding: 14px 24px; */
  width: 270px;
  height: 52px;
  border: none;
  background: linear-gradient(90deg, #ff4c4c 0%, #ff8a4c 100%);
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #fff8f1;
}
.imago {
  /* position: absolute; */
  width: 70%;
  height: 806px;
  top: 0px;
  /* margin-right: -10rem; */
  margin-top: -6rem;
  background: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
}
.imago > img {
  width: 90%;
  padding-top: 12.7rem;
  margin-left: -5rem;
}
.services {
  background: #f9f9f9;
  width: 100%;
}
.servin {
  margin: auto;
  width: 80%;
  padding-top: 4rem;
}
.text1 {
  width: 30%;
}
.text1 h2 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #161e2e;
}
.text1 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161e2e;
  padding-top: 1rem;
}
.general {
  display: flex;
  margin-left: -7rem;
  margin-top: 2rem;
}
.specials {
  margin-top: 5rem;
}
.specials1 {
  margin-top: 5rem;
}
.spone {
  padding-top: 5rem;
}

.text2 {
  margin: auto;
  width: 80%;
  margin-top: -4.5rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.text2 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #161e2e;
}
.text2 p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161e2e;
}
.section3 {
  height: 817px;
  margin: auto;
  background: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
}
.work {
  text-align: center;
  margin: auto;
  padding-top: 4rem;
  width: 35%;
}
.work h2 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  color: #f9fafb;
  padding-bottom: 1rem;
}
.work p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #f9fafb;
}
.values {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}
.valve {
  width: 20%;
  justify-content: center;
  text-align: center;
  /* text-align: center; */
  /* padding-right: 3rem;
  padding-bottom: -1rem; */
}

.valve h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 1rem;
}
.valve p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #feecdc;
  width: 80%;
  margin: auto;
}
.straight {
  width: 60%;
  margin: auto;
  margin-top: -14rem;
}
.straight > img {
  width: 100%;
}
.asian {
  margin: auto;
  text-align: center;
  margin-top: 10.2rem;
}
.section4 {
  /* margin: auto; */
  width: 100%;
  margin-top: 6rem;
}
.textprice {
  margin: auto;
  width: 40%;
  text-align: center;
}
.textprice h2 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  color: #161e2e;
  padding-bottom: 1rem;
}
.textprice p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: #161e2e;
  padding-bottom: 4rem;
}
/* .toggleswitch span span{
  display: none;
} */
.toggleswitch {
  display: inline-block;
  position: relative;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  width: 251px;
  height: 58px;
  user-select: none;
  background: #ffffff;
  border: 1px solid #d2d6dc;
  box-shadow: 1px 1px 2px rgba(73, 63, 63, 0.15);
  border-radius: 14px;
  margin-bottom: 4rem;
}
.toggleswitch * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  padding-top: 0.5rem;
}
/* .toggleswitch label,
.toggleswitch > span {
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
} */
/* .toggleswitch input:focus ~ a,
.toggleswitch input:focus + label {
  outline: none;
} */
/* .toggleswitch label {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
} */
.toggleswitch input {
  position: absolute;
  opacity: 0;
  z-index: 5;
}
.toggleswitch > span {
  position: absolute;
  left: 0;
  width: calc(100% - 6px);
  margin: 0;
  text-align: left;
  white-space: nowrap;
  margin: 0 3px;
}
.toggleswitch > span span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 50%;
  margin-left: 50px;
  text-align: left;
  font-size: 0.9em;
  width: auto;
  left: 0;
  top: -1px;
  opacity: 1;
  width: 40%;
  text-align: center;
  line-height: 34px;
}
.toggleswitch a {
  position: absolute;
  right: 50%;
  z-index: 4;
  display: block;
  top: 3px;
  bottom: 3px;
  padding: 0;
  left: 5px;
  /* height: 48px; */
  width: 50%;
  background-color: #ff5a1f;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.toggleswitch > span span:first-of-type {
  color: #fff;
  opacity: 1;
  left: 0;
  margin: 0;
  width: 50%;
}
.toggleswitch > span span:last-of-type {
  left: auto;
  right: 0;
  color: #4b5563;
  margin: 0;
  width: 50%;
}
.toggleswitch > span:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.toggleswitch input:checked ~ a {
  left: calc(50% - 3px);
}

.toggleswitch input:checked ~ span span:first-of-type {
  left: 0;
  color: #4b5563;
}
.toggleswitch input:checked ~ span span:last-of-type {
  color: #fff;
}
.packages {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.basic:hover {
  box-shadow: 0px 24px 40px rgba(255, 90, 31, 0.25);
}
.basic {
  width: 27%;
  height: 450px;
  background: #ffffff;
  border: 2px solid #fcd9bd;
  border-radius: 18px;
  margin-top: 7.8rem;
}
.basica {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
}
.basica h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
  color: #ff5a1f;
}
.basica p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
  background: linear-gradient(90deg, #ff4c4c 0%, #ff8a4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.basica p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6b7280;
  padding-top: 1rem;
}
.mark {
  display: flex;
  margin: auto;
  width: 95%;
  justify-content: center;
}

.marked {
  text-align: left;
  margin: auto;
  padding-bottom: 1rem;
}
.marked h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.marked p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #4b5563;
  /* padding-bottom: 1rem; */
}
.btn {
  margin: auto;
  text-align: center;
}
.start {
  width: 219px;
  height: 49px;
  background: linear-gradient(90deg, #ff4c4c 0%, #ff8a4c 100%);
  border-radius: 12px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #fff8f1;
}
.pop {
  display: flex;
  justify-content: space-evenly;
}
.pop > img {
  width: 30%;
  margin: auto;
}
.pro {
  width: 28%;
  height: 500px;
  background: #ffffff;
  border: 2px solid #fcd9bd;
  border-radius: 18px;
  margin-top: 4.8rem;
}
.pro:hover {
  box-shadow: 0px 24px 40px rgba(255, 90, 31, 0.25);
}
.premium {
  width: 27%;
  height: 575px;
  background: #ffffff;
  border: 2px solid #fcd9bd;
  border-radius: 18px;
}
.premium:hover {
  box-shadow: 0px 24px 40px rgba(255, 90, 31, 0.25);
}

.section5 {
  margin: auto;
  width: 85%;
  padding-top: 6rem;
}
.seriespics {
  display: flex;
  justify-content: space-between;
}
.ship1 {
  background-image: linear-gradient(
      360deg,
      rgba(254, 150, 94, 0.8) 0%,
      rgba(193, 23, 23, 0.1) 100%
    ),
    url(./images/ship.png);
  width: 373.9px;
  height: 248px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.ship2 {
  background-image: linear-gradient(
      360deg,
      rgba(254, 150, 94, 0.8) 0%,
      rgba(193, 23, 23, 0.1) 100%
    ),
    url(./images/plane.png);
  width: 373.9px;
  height: 248px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.ship3 {
  background-image: linear-gradient(
      360deg,
      rgba(254, 150, 94, 0.8) 0%,
      rgba(193, 23, 23, 0.1) 100%
    ),
    url(./images/ware.png);
  width: 373.9px;
  height: 248px;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.words {
  margin: auto;
  margin-left: 1.5rem;
  width: 80%;
  margin-top: 12rem;
}
.words h2 {
  font-family: "Inter";
  font-style: normal;
  /* font-weight: 900; */
  font-size: 24px;
  line-height: 29px;
  color: #fff8f1;
}
.words p {
  font-family: "Inter";
  font-style: normal;
  /* font-weight: 900; */
  font-size: 14px;
  line-height: 17px;
  color: #fcd9bd;
}
.faq {
  margin: auto;
  width: 80%;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
.textfaq {
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.scroll {
  margin: auto;
  width: 90%;
}
details {
  /* background: #E5E5E5; */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b5563;
  /* background: #FFFFFF; */
  border: 1px solid #6b7280;
  border-radius: 8px;
  width: 980px;
  height: 140px;
  margin-bottom: 2rem;
}

summary {
  margin: auto;
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  object-position: center;
  transition: height 1s ease;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #4b5563;
  margin-top: 2rem;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "+";
  border: 1.5px solid #feecdc;
  border-radius: 8px;
}

details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  margin-bottom: 1em;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #ff5a1f;
  margin-left: 3rem;
  padding-bottom: 2rem;
}

details[open] summary:after {
  content: "-";
}

details[open] div {
  /* margin: auto; */
  margin-left: 2rem;
  margin-top: -2rem;
  width: 63%;
  text-align: left;
}
.lastfaq {
  padding-top: 4rem;
  margin-bottom: 7rem;
  width: 50%;
  margin: auto;
}
.lastfaq h3 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #161e2e;
  padding-bottom: 1.5rem;
}
.lastfaq p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #374151;
  padding-bottom: 4rem;
}
.contactus {
  background: #ff5a1f;
  margin: auto;
  height: 900px;
}
.descr {
  width: 30%;
  margin: auto;
  margin-top: 3rem;
  padding-top: 5rem;
  text-align: center;
}
.descr h1 {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  color: #fff8f1;
  padding-bottom: 1rem;
}
.descr p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff8f1;
  margin-bottom: 3rem;
}
.crown {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.mapi p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 9.59654px;
  line-height: 8px;
  text-align: center;
  color: #ffffff;
  padding-top: 0.5rem;
}
.mapi:hover {
  width: 134.75px;
  height: 66px;
  background: #df2320;
  border-radius: 5px;
  padding-top: 0.5rem;
}
.foru {
  text-align: left;
  /* width: 50%; */
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 471px;
  height: 464px;
  margin-top: 3rem;
  padding-left: 3rem;
}
.fill {
  margin: auto;
  padding-top: 2rem;
}
.fill input {
  width: 375px;
  height: 51px;
  left: 48px;
  top: 185px;
  background: #ffffff;
  border: 2px solid #ff4f4c;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  margin-bottom: 2rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #6b7280;
  padding-left: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
}
.fill input:hover {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
}
.fill label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fb9f9d;
}
.combox input {
  width: 375px;
  height: 129px;
  /* left: 48px;
top: 303px; */
  background: #ffffff;
  border: 2px solid #ff4f4c;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  margin-top: 1rem;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #6b7280;
  padding-left: 1rem;
  padding-bottom: 5rem;
}
.combox input:hover {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
}
.combox label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fb9f9d;
}

.footer {
  margin: auto;
  height: 169px;
  background: #ff5a1f;
  padding-top: 3rem;
}
.group {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footy {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 4rem;
  position: relative;
}
.footy li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 3rem;
  /* padding-top: 2rem; */
  cursor: pointer;
}
.footy li:hover {
  font-size: 18px;
}

.footsy {
  box-sizing: border-box;
  width: 100%;
  height: 51px;
  background: #df2320;
  border: 1px solid #d03801;
}
.lastman {
  margin: auto;
  /* width: 25%; */
  padding-top: 1rem;
  text-align: center;
}
.lastman p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  word-spacing: 0.3rem;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .navy {
    margin-right: 6rem;
  }
  .navy li {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    padding-left: 2rem;
    padding-top: 1rem;
    cursor: pointer;
  }
  .navy li:hover {
    font-size: 13.5px;
  }
  .text {
    margin-top: 10rem;
  }
  .text h2 {
    font-size: 35px;
    color: #292323;
    padding-bottom: 1.5rem;
    width: 90%;
  }
  .text p {
    font-size: 14px;
    line-height: 28px;
    color: #6b7280;
    padding-bottom: 1.5rem;
    width: 85%;
  }
  .firstbtn {
    width: 240px;
    height: 45px;
    font-size: 12px;
    line-height: 24px;
  }
  .imago {
    /* position: absolute; */
    width: 70%;
    height: 680px;
    top: 0px;
    margin-top: -6rem;
  }

  .imago > img {
    width: 105%;
    padding-top: 10.2rem;
    margin-left: -4rem;
  }

  .services {
    background: #f9f9f9;
    width: 100%;
  }
  .servin {
    margin: auto;
    width: 80%;
    padding-top: 4rem;
  }
  .text1 {
    width: 35%;
  }
  .text1 h2 {
    font-size: 25px;
  }
  .text1 p {
    font-size: 14px;
    padding-top: 1rem;
  }
  .general {
    display: flex;
    margin-left: -7rem;
    margin-top: 2rem;
  }
  .specials {
    margin-top: 4rem;
    /* margin: auto; */
    margin-left: -4rem;
  }
  .specials1 {
    margin-top: 4rem;
    margin-left: -4rem;
    margin-right: -5rem;
    padding-left: 4rem;
  }
  .spone {
    padding-top: 4rem;
  }

  .text2 {
    width: 90%;
    margin-top: -4.7rem;
    padding-left: 5rem;
    padding-bottom: 3rem;
  }
  .text2 h3 {
    font-size: 15px;
  }
  .text2 p {
    font-size: 10px;
  }
  .section3 {
    height: 817px;
    margin: auto;
    background: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
  }
  .work {
    text-align: center;
    margin: auto;
    padding-top: 4rem;
    width: 40%;
  }
  .work h2 {
    font-size: 25px;
    line-height: 39px;
    color: #f9fafb;
    padding-bottom: 1rem;
  }
  .work p {
    font-size: 12px;
  }
  .values {
    margin-top: 1.5rem;
  }
  .valve {
    margin: auto;
    width: 25%;
    text-align: center;
    padding-right: 2rem;
    padding-bottom: -1rem;
    justify-content: center;
  }
  .valve h3 {
    font-size: 12px;
    line-height: 27px;
    padding-bottom: 1rem;
    padding-top: -2rem;
  }
  .valve p {
    font-size: 10px;
    line-height: 19px;
    width: 80%;
  }
  .straight {
    width: 60%;
    margin: auto;
    margin-top: -14rem;
  }
  .straight > img {
    width: 100%;
  }
  .asian {
    margin: auto;
    text-align: center;
    margin-top: 11.3rem;
  }

  .section4 {
    /* margin: auto; */
    width: 100%;
    margin-top: 6rem;
  }
  .textprice {
    margin: auto;
    width: 40%;
    text-align: center;
  }
  .textprice h2 {
    font-size: 25px;
    line-height: 39px;
    padding-bottom: 1rem;
  }
  .textprice p {
    font-size: 12px;
    text-align: center;
    color: #161e2e;
    padding-bottom: 4rem;
  }
  .packages {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .basic {
    width: 28%;
    height: 420px;
    background: #ffffff;
    border: 2px solid #fcd9bd;
    border-radius: 18px;
    margin-top: 7.8rem;
  }
  .basica {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
  }
  .basica h1 {
    font-size: 25px;
  }
  .basica p span {
    font-size: 30px;
  }
  .basica p {
    font-size: 9px;
    padding-top: 1rem;
  }

  .marked {
    text-align: left;
    margin: auto;
    padding-bottom: 1rem;
  }
  .marked h3 {
    font-size: 12px;
    line-height: 19px;
  }
  .marked p {
    font-size: 8px;
  }
  .btn {
    margin: auto;
    text-align: center;
  }
  .start {
    width: 200px;
    height: 35px;
    font-size: 14px;
  }
  .pro {
    width: 29%;
    height: 475px;
    margin-top: 4.5rem;
  }
  .premium {
    width: 29%;
    height: 550px;
  }

  .section5 {
    margin: auto;
    width: 90%;
    padding-top: 6rem;
  }
  .seriespics {
    display: flex;
    justify-content: space-evenly;
  }
  .ship2 {
    width: 373.9px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .words {
    margin: auto;
    margin-left: 1.5rem;
    width: 80%;
    margin-top: 12rem;
  }
  .words h2 {
    font-size: 15px;
  }
  .words p {
    font-size: 11px;
  }

  .faq {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .textfaq {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  .scroll {
    margin: auto;
    width: 90%;
  }
  details {
    font-size: 12px;
    line-height: 26px;
    width: 750px;
    height: 130px;
    margin-bottom: 2rem;
  }

  .lastfaq h3 {
    font-size: 15px;
  }
  .lastfaq p {
    font-size: 12px;
  }
  .contactus {
    background: #ff5a1f;
    margin: auto;
    height: 900px;
  }
  .descr {
    width: 30%;
    margin: auto;
    margin-top: 3rem;
    padding-top: 5rem;
    text-align: center;
  }
  .descr h1 {
    font-size: 25px;
  }
  .descr p {
    font-size: 12px;
    margin-bottom: 2rem;
  }
  .crown {
    width: 35%;
  }
  .foru {
    text-align: left;
    /* width: 50%; */
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 440px;
    height: 455px;
    margin-top: 3rem;
    padding-left: 2rem;
  }
  .fill {
    margin: auto;
    padding-top: 2rem;
  }
  .footy li {
    font-size: 12px;
  }

  .footer {
    margin: auto;
    height: 169px;
    margin-top: -1rem;
    background: #ff5a1f;
    padding-top: 3rem;
  }
  .group {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .footsy {
    box-sizing: border-box;
    width: 100%;
    height: 51px;
    background: #df2320;
    border: 1px solid #d03801;
  }
  .lastman {
    margin: auto;
    padding-top: 1rem;
    text-align: center;
  }
  .lastman p {
    font-size: 10px;
    word-spacing: 0.2rem;
  }
}

@media screen and (max-width: 768px) {
  .navy {
    margin-right: 4rem;
  }
  .navy li {
    font-size: 10px;
    padding-left: 1rem;
    /* padding-top: 2rem; */
  }
  .navy li:hover {
    font-size: 12px;
  }
  .text {
    margin-top: 7.5rem;
  }
  .text h2 {
    font-size: 25px;
    padding-bottom: 1.5rem;
    width: 90%;
  }
  .text p {
    font-size: 10px;
    line-height: 28px;
    color: #6b7280;
    padding-bottom: 1.5rem;
    width: 85%;
  }
  .firstbtn {
    width: 180px;
    height: 35px;
    font-size: 10px;
  }
  .imago {
    /* position: absolute; */
    width: 70%;
    height: 550px;
    top: 0px;
    margin-top: -6rem;
  }

  .imago > img {
    width: 110%;
    padding-top: 10.2rem;
    margin-left: -3rem;
  }

  .services {
    background: #f9f9f9;
    width: 100%;
  }
  .servin {
    margin: auto;
    width: 80%;
    padding-top: 2rem;
  }
  .text1 {
    width: 30%;
  }
  .text1 h2 {
    font-size: 18px;
  }
  .text1 p {
    font-size: 11px;
    padding-top: 1rem;
  }
  .general {
    display: flex;
    /* /* margin-left: 7rem;
    margin-top: 2rem; */
    /* width: 80%;
    margin: auto; */
  }
  .iphone > img {
    width: 150%;
  }
  .specials {
    /* margin: auto; */
    margin-left: 4rem;
  }
  .spone > img {
    width: 20%;
  }
  .specials1 {
    margin-left: -4rem;
    padding-left: 2rem;
  }
  .spone {
    padding-top: 2rem;
  }

  .text2 {
    width: 80%;
    margin-top: -3rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
  .text2 h3 {
    font-size: 12px;
  }
  .text2 p {
    font-size: 9px;
  }
  .section3 {
    height: 700px;
    margin: auto;
    background: linear-gradient(219.36deg, #c11717 0%, #ff8a4c 100%);
  }
  .work {
    text-align: center;
    margin: auto;
    padding-top: 3rem;
    width: 40%;
  }
  .work h2 {
    font-size: 15px;
    line-height: 39px;
    color: #f9fafb;
    padding-bottom: 0.5rem;
  }
  .work p {
    font-size: 9px;
  }
  .values {
    margin-top: 2rem;
  }
  .valve {
    margin: auto;
    width: 25%;
    text-align: center;
    /* padding-right: 0rem; */
    padding-bottom: -1rem;
    justify-content: center;
  }
  .valve h3 {
    font-size: 10px;
    line-height: 27px;
    padding-bottom: 0.5rem;
    margin-right: -4.5rem;
  }
  .valve p {
    font-size: 9px;
    line-height: 19px;
    width: 90%;
    margin: auto;
    margin-right: -2rem;
  }
  .straight {
    width: 60%;
    margin: auto;
    margin-top: -14rem;
  }
  .straight > img {
    width: 100%;
  }
  .asian {
    margin: auto;
    text-align: center;
    margin-top: 11.63rem;
  }
  .asian > img {
    width: 30%;
  }
  .section4 {
    /* margin: auto; */
    width: 100%;
    margin-top: 4rem;
  }
  .textprice {
    margin: auto;
    width: 45%;
    text-align: center;
  }
  .textprice h2 {
    font-size: 18px;
    line-height: 39px;
    padding-bottom: 1rem;
  }
  .textprice p {
    font-size: 10px;
    text-align: center;
    color: #161e2e;
    padding-bottom: 4rem;
  }
  .packages {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .basic {
    width: 30%;
    height: 355px;
    background: #ffffff;
    border: 2px solid #fcd9bd;
    border-radius: 18px;
    margin-top: 6rem;
  }
  .basica {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 2rem;
  }
  .basica h1 {
    font-size: 18px;
  }
  .basica p span {
    font-size: 25px;
  }
  .basica p {
    font-size: 7px;
    padding-top: 1rem;
  }

  .marked {
    text-align: left;
    margin: auto;
    padding-bottom: 0.5rem;
  }
  .marked h3 {
    font-size: 8px;
    line-height: 19px;
  }
  .marked p {
    font-size: 7px;
  }
  .btn {
    margin: auto;
    text-align: center;
  }
  .start {
    width: 150px;
    height: 25px;
    font-size: 10px;
  }
  .pro {
    width: 30%;
    height: 412px;
    margin-top: 2.5rem;
  }
  .premium {
    width: 30%;
    height: 470px;
    margin-top: -1rem;
  }

  .section5 {
    margin: auto;
    width: 95%;
    padding-top: 5rem;
  }
  .seriespics {
    display: flex;
    justify-content: space-evenly;
  }
  .ship1 {
    width: 370.9px;
    height: 200px;
  }
  .ship2 {
    width: 370.9px;
    height: 200px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .ship3 {
    width: 370.9px;
    height: 200px;
  }
  .words {
    margin: auto;
    margin-left: 1.5rem;
    width: 80%;
    margin-top: 9rem;
  }
  .words h2 {
    font-size: 12px;
  }
  .words p {
    font-size: 9px;
  }
  .faq {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .textfaq {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .textfaq {
    font-size: 12px;
  }

  .scroll {
    margin: auto;
    width: 90%;
  }
  details {
    font-size: 9.5px;
    line-height: 26px;
    width: 590px;
    height: 130px;
    margin-bottom: 2rem;
  }
  summary {
    font-size: 12px;
  }
  details[open] summary {
    font-size: 14px;
    line-height: 20px;
  }
  .lastfaq h3 {
    font-size: 12px;
  }
  .lastfaq p {
    font-size: 9px;
  }
  .contactus {
    background: #ff5a1f;
    margin: auto;
    /* height: 900px; */
  }
  .descr {
    width: 30%;
    margin: auto;
    margin-top: 1rem;
    padding-top: 4rem;
    text-align: center;
  }
  .descr h1 {
    font-size: 18px;
  }
  .descr p {
    font-size: 9px;
    margin-bottom: 2rem;
  }
  .crown {
    width: 30%;
  }
  .crown p {
    font-size: 7px;
  }
  .foru {
    text-align: left;
    width: 320px;
    height: 430px;
    margin-top: 3rem;
    padding-left: 1.5rem;
    margin-bottom: 9rem;
  }

  .fill input {
    width: 270px;
    height: 40px;
    margin-bottom: 2rem;
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .fill label {
    font-size: 12px;
  }
  .combox input {
    width: 270px;
    height: 129px;
    font-size: 12px;
    padding-left: 1rem;
    padding-bottom: 5rem;
  }
  .combox label {
    font-size: 12px;
  }

  .fill {
    margin: auto;
    padding-top: 2rem;
  }

  .group {
    width: 90%;
  }
  .footy li {
    font-size: 8px;
  }

  .whitelogo > img {
    width: 60%;
  }
  .footer {
    margin: auto;
    background: #ff5a1f;
    margin-top: -1rem;
    width: 100%;
  }

  .footsy {
    box-sizing: border-box;
    width: 100%;
    background: #df2320;
    border: 1px solid #d03801;
  }
  .lastman {
    margin: auto;
    padding-top: 1rem;
    text-align: center;
  }
  .lastman p {
    font-size: 9px;
    word-spacing: 0.2rem;
  }
}

@media screen and (max-width: 480px) {
}
